body {
    background-color: lavender;
}

header {
    width: 100%;
}

li > h1 {
    float: left;
    margin: 0px;
    padding: 3px;
}

li > nav {
    float: right
    
}

nav > a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

/* nav > a:hover {
    background-color: lightgray;
} */

 a > .active {
    background-color: lightpink;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

  }

li {
    float: left;
  }
li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}
li > a:hover{
    background-color: lightgray;
}

.dropdown:hover .dropbtn{
    background-color: lightgray;
}
li.dropdown {
    display: inline-block;
}

li > .nav-right:hover{
    background-color: lightgray;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1; 
    min-width: 160px;
}

.dropdown-content a {
    color: black;
    padding: 4px, 6px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover{
    background-color: #f2f2f2;
}

.dropdown:hover .dropdown-content {
    display: block;
  }

li {
    text-decoration: none;
}